@page "/stat_Mensuelles"
@attribute [StreamRendering]
@inject Requete_Info_mensuelles Requete_Info_mensuelles

<h3 class="text-center">Statistiques Mensuelles</h3>

@if (stat_Mensuelles == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mois</th>
                <th>Total ($) Mensuel</th>
                <th>Moyenne ($) / jour</th>
                <th>Total (personnes) Mensuel</th>
                <th>Moyenne (personnes) / jour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stat in stat_Mensuelles)
            {
                <tr>
                    <td>@($"{stat.NomMois} {stat.Annee}")</td>
                    <td>@stat.TotalArgent.ToString("C")</td>
                    <td>@stat.MoyenneArgentParJour.ToString("C")</td>
                    <td>@stat.TotalPersonnes</td>
                    <td>@stat.MoyennePersonnesParJour.ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<StatMensuelle>? stat_Mensuelles;

    protected override async Task OnInitializedAsync()
    {
        stat_Mensuelles = await Requete_Info_mensuelles.GetInfo_mensuelles();
    }
}
